$mainFontSize: 16px;
$generalFontSize_number: 16;

%font__12-600-grey {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 112.69%;
  color: $greyMiddle;
}

%font__6-normal-white {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  line-height: 112%;
  color: darkblue;
  //color: $white;
}

%font__10-bold-litegreen {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 112.69%;
  color: $liteGreen;
}

%font__11-normal-greydark {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 123.69%;
  color: $greyDark;
}

%font__12-normal-greydark {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 112.69%;
  color: $greyDark;
}

%font__16-bold-grey {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: 0.02em;
  color: #F3F3F3;
}

%font__52 {
  font-family: TT Norms;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #575B5E;
}

%font__16-600-lite {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #F3F3F3;
}

%font__48-600-lite {
  font-family: TT Norms;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #575B5E;
}

%font__14-400-grey {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 112.69%;
  color: #575B5E;

}
