@import 'constants';
@import "dounCSS";
@import "utils";
@import "fonts";


%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bb ($color) {
  box-sizing: border-box;
  border: #{$color} 1px solid;
}


%desktop-screen {
  @media (max-width: $desktopWidth) {
    display: none;
  }
}

%ipad-screen {
  @media (min-width: $desktopWidth) {
    display: none;
  }
}

.no-mobile-screen {
  @media (max-width: $mobileWidth) {
    display: none;
  }
}

.general-wrapper {
  width: 100%;
  max-width: $generalWidth;
  margin: 0 auto;
}
